[submodule "fivem-lls-addon"]
	path = fivem-lls-addon
	url = https://github.com/programmernb-ctrl/fivem-lls-addon
[submodule "plugin"]
	path = plugin
	url = https://github.com/programmernb-ctrl/fivem-lls-addon
